[submodule "app/module/restaurant"]
	path = app/module/restaurant
	url = https://github.com/bgyhnddr/vue-block-restaurant.git
[submodule "app/module/admin"]
	path = app/module/admin
	url = https://github.com/bgyhnddr/vue-block-admin.git
